* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
fORMATAÇÃO DO MENU
*/
body{
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 90px;
    background-color: #0085c6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #000;
}

.logo-imagem {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 45px;
    height: 45px;
    background-color: #EC6432;
    border-radius: 50%;
}
.container-logo {
    display: flex;
    align-items: center;
}
#sub-logo-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #EAB430;
}
.logo-texto  {
    margin-left: 20px;
    }
.logo-texto a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.logo-texto a:hover {
    
}
#menu-nav li {
    display: inline-block;
}
#menu-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

#menu-nav li a:hover {
    border-bottom: 1px solid #fff;
    color: #000;
    transition: all 0.4s cubic-bezier(.86,.01,.15,.99);
}
#container-pesquisar #text-pesquisar {
    height: 30px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
}
#login a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-right: 4px;  
    border-bottom: 1px solid #000;  
}
#text-pesquisar::placeholder {
    padding-left: 5px;
} 
#login .btn-cadastro {
    padding: 5px;
    font-weight: bold;
    background-color: #EC6432;
    opacity: 0.8;
    border-radius: 4px;
    border: none;
}

/*
FORMATAÇÃO DO BANNER DE BOAS VINDAS
*/
#container-banner {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 445px;
    margin-bottom: 40px;
}
#container-banner h1 {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 35px;
}
/*
FORMATAÇÃO DO MAIN
*/
main {
    margin: 0 auto;
    width: 1200px;
    background-color: #fcf9f9;
}
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    margin-top: 40px;
    /*background: #fff000;*/
}
.container-text {
    width: 50%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.subtitulo {
    font-size: 28px;
}
.text-subtitulo {
    font-size: 22px;
    text-align: center;
    display: block;
    margin-top: 20px;
    
}
.container-img img {
    width: 100%;
    height: 356px;
    padding: 0 20px 20px 0;
}
.text-card {
    width: 100%;
    font-size: 40px;
}
.text-linguagens {
    font-size: 24px;
    display: block;
    margin-top: 20px;
}

.container-liguagens {
    margin-top: 20px;
    padding: 20px;
    background: rgba(209, 209, 209, .3);

}

/*
Formatação do RODAPÉ
*/
#container-footer {
    width: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    background-color: #6b6bf0b9;
    opacity: 0.5px;
    margin-top: 20px;
}
#rodape {
    margin-top: 20px;
    padding: 20px;
    color: #fff;
}



